name: native_push_example
description: "Demonstrates how to use the native_push plugin."
publish_to: 'none'

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  cupertino_icons: ^1.0.0
  flutter:
    sdk: flutter

  native_push:
    # When depending on this package from a real application you should use:
    #   native_push: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true